@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.auth-form{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    padding:1.5rem;
    background-color:var(--color-bg);
    border-radius:0.5rem;
    width:50%;
    margin:0 auto;

    input{
        padding:0.75rem;
        border:1px solid grey;
        border-radius:0.375rem;
        background-color: white;
        color:var(--color-text);
    }
}

.popwrap {
    position: relative; /* The container for positioning context */
    display: inline-block; /* Keeps the container size specific to content */
}

.popup {
    display: none; /* Hide by default */
    position: absolute; /* Position it relative to the popwrap */
    top: 100%; /* Place it right below the button */
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 10;
}

